<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Harvard College</h1>
            <span><address>Cambridge, MA</address><time>Expected Graduation: May 2020</time></span>
        </header>
        <p>
        <ul class="bullet"><li>• Major: Applied Mathematics</li>
        <li>• Cumulative GPA: 3.82/4.0. Relevant Coursework: Introduction to Computer Science I &amp; II, Multivariable Calculus, Linear Algebra &amp; Differential Equations, Quantum &amp; Statistical Foundations of Chemistry, Foundations of Theoretical Physics, Introduction to Probability, Intermediate Microeconomics: Advanced, Applied Linear Algebra &amp; Big Data, Data Structures &amp; Algorithms, and Quantitative Finance. 
</li></ul> 
        </p>
    </article>
    <article>
        <header>
            <h1>Northampton High School</h1>
            <span><address>Northampton, MA</address><time>2012 to 2016</time></span>
        </header>
        <p>
        <ul class="bullet"><li>• Cumulative GPA: 4.0/4.0, ACT: 35, SAT II Mathematics 2: 770, SAT II Chemistry: 800</li>
        <li>• Awarded Highest Academic Honors of class of 2016, National AP Scholar, Commended Student in National Merit Scholarship Program</li></ul> 
        </p>
    </article>
</section>