<section class="thirteen columns">
    <h1>Relevant Experiences</h1>
    <article>
        <header>
            <h1>Key Club: High School Community Service Organization</h1>
            <span><address>Northampton, MA</address><time>Fall 2012 to Spring 2016</time></span>
        </header>
        <p>
        <ul class="bullet"><li>• Served in multiple leadership rolls, including: Lt. Governor, Executive Assistant to the Governor, President (twice)</li>
        <li>• Awarded R.F.L Outstanding Lieutenant Governor Award and Outstanding President Award</li></ul> 
        </p>
    </article>
    <article>
        <header>
            <h1>ASPIRE Research Program</h1>
            <span><address>University of Massachusetts, Amherst, MA</address><time>Winter 2015</time></span>
        </header>
        <p>
        Selected for and completed &ldquo;A Student-led Program in Research and Education,&rdquo; a course for high school students taught by graduate students at the University of Massachusetts, which involved lab work synthesizing polymers.
        </p>
    </article>
    <article>
        <header>
            <h1>Northampton Public School District School Committee</h1>
            <span><address>Northampton, MA</address><time>Fall 2016 to Spring 2016</time></span>
        </header>
        <p>
        Served as student representative speaker at school committee meetings and worked to form policy for the district.
        </p>
    </article>
</section>