<section class="thirteen columns">
    <h1>Programming Skills</h1>
            <div class="row">
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    OCAML, C, CSS/HTML, &amp; Markdown
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    MATLAB, &amp; Version control (Git/Github)
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    Python, JavaScript, Objective C, &amp; Latex
                </div>
                <div class="twp column">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                <div class="ten columns">
                    SQLite, &amp; Mathematica
                </div>
            </div>
    </article>
</section>