<section class="thirteen columns">
    <h1>Specialized Training &amp; Interests</h1>
    <article>
        <header>
            <h1>Grant Writing</h1>
        </header>
        <p>
        Raised over $5,000 in grants and sponsorships for various Key Club projects. Grants include three Youth Service America grants and two Kiwanis International Youth Opportunities Fund grants.
        </p>
    </article>
    <article>
        <header>
            <h1>Harvard Financial Analysts Clubs</h1>
        </header>
        <p>
        Member of the <a href="http://harvardfac.org">Harvard Financial Analysts Club</a> which focuses on small-cap securities research. 
        </p>
    </article>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
        Native English speaker and limited working profieciency in Spanish (ILR Scale).
        </p>
    </article>
    <article>
        <header>
            <h1>Ultimate Frisbee</h1>
        </header>
        <p>
        Member of the winning 2015 Youth Club Championship team, captain of the second place 2016 MA State Championship team, and current member of the Harvard club ultimate team.
        </p>
    </article>
    <article>
        <header>
            <h1>Improvisational Comedy</h1>
        </header>
        <p>
        Member and captain of high school troupe for four years. Good at thinking and creating solutions spontaneously.
        </p>
    </article>
</section>