<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Tutoring</h1>
            <span><time>Summer 2015 to Present</time></span>
        </header>
        <p>
        In high school, I tutored students ranging from elementary school to graduate school level in math and science courses. Now, I am a standardized testing tutor with <a href="https://www.crimsoneducation.org/us" target="_blank">Crimson Education</a>, helping high school students prepare for the ACT, AP tests, and SAT subject tests. Additionally, I tutor fellow Harvard students weekly with the Harvard Bureau of Study Counsel.
        </p>
    </article>
    <article>
        <header>
            <h1>Global Graduates&rsquo; Union</h1>
            <span><time>Summer 2016 to Present</time></span>
        </header>
        <p>
        Part-time editor, specializing in graduate school application essays.
        </p>
    </article>
    <article>
        <header>
            <h1>Statistics Intern at Major League Ultimate</h1>
            <span><address>Northampton, MA</address><time>Winter 2015 to Spring 2015</time></span>
        </header>
        <p>
        Collected data for the semi-professional sports league start-up.
        </p>
    </article>
    <article>
        <header>
            <h1>Dog Walking</h1>
            <span><address>Northampton, MA</address><time>June, 2013 to Spring 2016</time></span>
        </header>
        <p>Started own business with 10% of profits donated to various charities.</li>
        </p>
    </article>
</section>