<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Dog Walking</h1>
            <span><address>Northampton, MA</address><time>June, 2013 to Spring 2016</time></span>
        </header>
        <p>Started own business with 10% of profits donated to various charities.</li>
        </p>
    </article>
    <article>
        <header>
            <h1>Math Tutor</h1>
            <span><address>Northampton, MA</address><time>Summer 2015 to Summer 2016</time></span>
        </header>
        <p>
        Students have ranged from elementary school to graduate school in topics including algebra, geometry, statistics, and calculus.
        </p>
    </article>
    <article>
        <header>
            <h1>Statistics Intern at Major League Ultimate</h1>
            <span><address>Northampton, MA</address><time>Winter 2015 to Spring 2015</time></span>
        </header>
        <p>
        Collected data for the semi-professional sports league start-up.
        </p>
    </article>
    <article>
        <header>
            <h1>Global Graduates&rsquo; Union</h1>
            <span><time>Summer 2016 to Present</time></span>
        </header>
        <p>
        Part-time editor, specializing in graduate school application essays.
        </p>
    </article>
</section>